#cy {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#config {
    position: absolute;
    background: #bbb;
    z-index: 1;
    height: 100%;
    width: 15%;
    padding: 1em;
    overflow: auto;
    box-sizing: border-box;
    left: 0;
    top: 0;
}

#sparql_box {
    text-align: right;
    width: 20%;
    padding: 2%;
}

#sparql_text {
    text-align: left;
    font-family: "Courier New";
}

node {
    background-color: cyan;
}
