
/* SOLARIZED REFERENCE

	base03   #002b36  (  0,  43,  54)
	base02   #073642  (  7,  54,  66)
	base01   #586e75  ( 88, 110, 117)
	base00   #657b83  (101, 123, 131)
	base0    #839496  (131, 148, 150)
	base1    #93a1a1  (147, 161, 161)
	base2    #eee8d5  (238, 232, 213)
	base3    #fdf6e3  (253, 246, 227)
	yellow   #b58900  (181, 137,   0)
	orange   #cb4b16  (203,  75,  22)
	red      #dc322f  (220,  50,  47)
	magenta  #d33682  (211,  54, 130)
	violet   #6c71c4  (108, 113, 196)
	blue     #268bd2  ( 38, 139, 210)
	cyan     #2aa198  ( 42, 161, 152)
	green    #859900  (133, 153,   0)

*/


/* 	
*	--- 
* 	NAVBAR 
*	---
*/
#sidenav {
	display: inline-block;
	height: 100%; 
	width: 50%; 
	position: fixed; 
	z-index: 2; 
	top: 0; 
	right: 0; 
	background-color: #002b36;
    /*overflow-y: hidden; */
	transition: 0.1s;
}


#nav_div {
    text-align: center;
    color: #ccc;
    vertical-align: middle;
}


#add_to_query_button {
	position: absolute;
	cursor: pointer;
	left: -60px;
	bottom: 65px;
	width: 50px;
	background-color: #fdf6e3;
	border-radius: 50px;
	font-size: xx-small;
	font-family: "Courier New";
	border-color: #002b36;
	z-index: 3;
}


#add_to_query::hover{
	cursor: grab;
}

.cxtmenu-content{
    font-size: xx-small;
    font-family: "Courier New";
}

/* 	
*	--- 
* 	GRAPH CANVAS 
*	---
*/
#query_canvas {
	position: absolute;
	width: 100%;
	height: 50%;
    z-index: 2;
	margin: 1%;
    bottom: 0%;
	border-radius: 10px;
    transition: 0.5s;
	background-color: #fdf6e3; 
}

#rename_div {
	position: absolute;
	z-index: 99999;
	display: flex;
	justify-content: center;
}


/* 	
*	--- 
* 	MENU 
*	---
*/
#painless_menu {
	padding: 1%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	bottom: 0%;
	height: 8%;
    text-align: center;
    background-color: #073642;
}

.menu_button {
	display: inline-block;
	background-color: #93a1a1;
	color: #073642;
	margin: 2px;
	cursor: pointer;
	padding: 2px;
	border-radius: 10px;
    border: none;
    font-size: x-small;
}

.menu_button:hover {
	background-color: #eee8d5;
}

.resize_button {
    width: 25px;
    vertical-align: middle;
    display: inline-block;
}

/* 	
*	--- 
* 	QUERY TEXT 
*	---
*/
#sparql_textbox {
    text-align: left;
	color: #ccc;
	font-family : "Courier New";
	font-size: small;
    width: 95%;
	/*overflow-y: scroll;*/
	height: 30%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 20px;
    transition: 0.5s;
}

.highlighting_box {
    background-color: #666;
    border-radius: 10px;
	padding: 3px;
	margin: 0px;
	color: #eee;
    display: inline-block;
    float: left;
    transition: 0.5s;
}

.highlighting_box:hover {
	cursor: grab;
	-webkit-box-shadow: 2px 2px 2px 2px #888;
  	-webkit-box-shadow: 2px 2px 2px 2px #888;
  	box-shadow:         2px 2px 2px 2px #888;
}

#sparql_text {
    text-align: left;
    font-family: "Courier New";
    display: table;
}

.dragslot_select {
	background-color: gray;
	border-radius: 10px;
	opacity: 0;
    height: 100%;
}

.minicross {
    font-weight: bold;
    float: left;
    display: inline-block;
    font-size: small;
    color: red;
}

.minicross:hover {
    cursor: pointer;
}

.highlighting_box_container {
    padding-right: 10px;
    transition: 0.5s;
}

.q_line {
    display: table;
	vertical-align: middle;
}

.init_string > div {
	display: inline-block;
}

.s_line > div {
	display: inline-block;
}

.q_line > div {
    display: inline-block;
	vertical-align: inherit;
}

.filter_condition_container {
	display: inline-block;
	padding: 3px;
	background-color: #666;
	border-radius: 10px;
}

.filter_condition_container > div, .filter_condition_container > div > div {
	display: inline-block;
}

/* 	
*	--- 
* 	UTILS
*	---
*/
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* 	
*	--- 
* 	SIDENAV HANDLE
*	---
*/
.slidecontainer {
	z-index: 1;
	bottom: 2%;
	width: 100%;
	position: fixed;
	pointer-events: none;
}

.slider:focus {outline: none;}

::-moz-range-track {
  	opacity: 0;
  	border: 0;
}

input::-moz-focus-inner, input::-moz-focus-outer {
	border: 0;
}

.slider {
    -webkit-appearance: none;
	appearance: none;
    width: 100%;
    border-radius: 5px;  
    outline: none;
	background: transparent;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
	pointer-events: auto;
    appearance: none;
    width: 160px;
    height: 50px;
    border-radius: 50%;
	/*background: #cccccc;*/
    background: url('../res/slider_thumb_long.svg') left no-repeat;
	background-size: 160px 50px;
	background-position: 0px 0px;
    cursor: pointer;
	transition: all ease-in-out 0.5s;
}

.slider::-moz-range-thumb {
	pointer-events: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
	background: url('../res/slider_thumb_long.svg') center no-repeat;
	background-size: 80px 80px;
	background-position: 0px 0px;
    cursor: pointer;
	border: none;
	transition: all ease-in-out 0.5s;
}


/* 	
*	--- 
* 	DRAGULA
*	---
*/
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
