#query_canvas {
	position: relative;
	width: 90%;
	height: 40%;
	bottom: 5%;
    z-index: 2;
	top: 30%;
	background-color: #fff;
	margin: 5%;
	border-radius: 10px;
}

#sidenav {
	height: 100%; 
	width: 500px; 
	position: fixed; 
	z-index: 1; 
	top: 0; 
	right: 0; 
	background-color: #222;
	overflow-x: hidden; 
	padding-top: 60px; 
	transition: 0.5s;
}


#config {
    position: absolute;
    background: #bbb;
    z-index: 1;
    height: 100%;
    width: 20%;
    padding: 1em;
    overflow: auto;
    box-sizing: border-box;
    left: 0;
    top: 0;
}

.highlighting_box {
    background-color: #666;
    border-radius: 10px;
	padding: 3px;
	margin: 3px;
	color: 555;
}

.highlighting_box:hover {
    background-color: #ddd;
}

#sparql_textbox {
    text-align: left;
	color: #ccc;
	font-family : "Courier New";
	font-size: large;
    width: 100%;
    padding: 5%;
}

#sparql_text {
    text-align: left;
    font-family: "Courier New";
    display: table;
}

.q_line {
    display: table;
}

.q_line > div {
    display: inline-block;
}

.button {
    border: none;
    background: '#ffffff';
}
